<template>
  <div class="container" @click="changeForm(hasError, selected)">
    <h1 class="container__title">Autocomplete</h1>
    <Autocomplete @noError="hasError = false" @close="selected = true" @yesError="hasError = true" :cities="$store.state.cities" v-model="selection"></Autocomplete>
  </div>
</template>

<script>

import Autocomplete from '@/components/Autocomplete'

export default {

  data () {
    return {
      selection: '',
      hasError: '',
      selected: false
    }
  },
  methods: {
    changeForm (hasError, selected) {
      this.$store.commit('changeForm', [hasError, selected])
    }
  },
  components: {
    Autocomplete
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body{
  margin:0;
}
.container {
  margin-top: 60px;
  width: 100%;
  height:800px;
}
.container__title{
  margin-left: 50px;
}
</style>
