<template>
  <div class="autocompile">
    <p class="form__title">Город</p>
    <input @click.stop="changeForm(hasError, selected)" onfocus="this.select()" v-bind:class="{form__error: this.$store.state.hasError[0]}" class="form__city" type="text" @input="input" v-model="search" placeholder="Начните вводить название"
    @keydown.down= "down()"
    @keydown.up.prevent= "up()"
    @keydown.enter= "enter()"
    @keydown.esc= "esc()"
    />
    <div v-bind:class="{circle__loader: showLoader}">
    </div>
    <ul v-on:mouseover="mouseon" v-bind:class="{form__list: openList}" v-if="!(this.$store.state.selected[0]) && search" >
      <li v-bind:class="{select__city: choose, 'active':isActive(index)}" v-for="(city, index) in filteredCities2" class="form__list__element" @click="select(city, index)">
        {{ city.City }}
      </li>
      <li class="form__mistake" v-if="filteredCities2.length !== 0">
          Показано {{filteredCities2.length}} из {{filteredCities.length}} найденных городов. Уточните запрос, чтобы увидеть остальные
      </li>
      <li class="form__mistake" v-if='this.NoConnection === true && cities.length === 0'>
        Что-то пошло не так. Проверьте соединение с интернетом и попробуйте еще раз
      </li>
      <li class="mistake__update" v-if='this.NoConnection === true && cities.length === 0' @click="refresh()">
        Обновить
      </li>
      <li class="form__mistake" v-if='filteredCities.length === 0 && cities.length > 0'>
        Не найдено
      </li>
    </ul>
    <div v-bind:class="{form__error__title: this.$store.state.hasError[0]}" class="form__error__title__none">
      Выберите значение из списка
    </div>
  </div>
</template>

<script>

export default {
  props: ['cities'],

  data () {
    return {
      NoConnection: false,
      hasError: false,
      choose: false,
      search: '',
      current: 0,
      showLoader: false,
      selected: false,
      openList: true
    }
  },

  computed: {
    filteredCities2 () {
      return this.filteredCities.slice(0, 5)
    },
    filteredCities () {
      return this.cities.filter(city => {
        return city.City.indexOf(this.search) > -1
      })
    }
  },

  methods: {
    mouseon () {
      this.current = -1
    },
    getCities () {
      this.$store.dispatch('CitiesList')
    },
    changeForm (hasError, selected) {
      this.$store.commit('changeForm', [hasError, selected])
    },
    select (city, index) {
      this.search = city.City
      this.selected = city.City
      this.$emit('noError')
    },
    input () {
      if (this.$store.state.cities.length === 0) {
        this.NoConnection = false
        this.openList = false
        this.showLoader = true
        setTimeout(() => {
          this.showLoader = false
          this.openList = true
          if (this.cities.length === 0) {
            this.NoConnection = true
          }
        }, 200)
      }

      if (this.search !== this.selected) {
        this.selected = false
        this.changeForm(this.hasError, this.selected)
      }
      this.current = 0
      /* Если в поле нормальное название, аутклик не выводит ошибку и закрывает список */
      if (/[А-я]/.test(this.search) === true &&
      this.filteredCities2[this.current] !== undefined &&
      this.search === this.filteredCities2[this.current].City) {
        this.$emit('noError')
        this.$emit('close')
      } else {
        this.$emit('yesError')
        this.$emit('close')
      }
    },
    up () {
      if (this.current > 0) {
        this.current--
      }
    },
    down () {
      if (this.current < this.filteredCities2.length - 1) {
        this.current++
      }
    },
    enter () {
      if (this.$store.state.cities.length === 0) {
        this.openList = false
        this.refresh()
      } else {
        this.search = this.filteredCities2[this.current].City
        this.selected = true
        this.$emit('noError')
        this.changeForm(this.hasError, this.selected)
      }
    },
    esc () {
      this.selected = true
      this.changeForm(this.hasError, this.selected)
    },
    isActive (index) {
      return index === this.current
    },
    refresh () {
      this.selected = true
      this.changeForm(this.hasError, this.selected)
      this.NoConnection = false
      this.showLoader = true
      this.$emit('noError')
      this.getCities()
      setTimeout(() => {
        this.showLoader = false
        this.openList = true
        this.$emit('noError')
        this.selected = false
        this.changeForm(this.hasError, this.selected)
      }, 1000)
    }
  },
  mounted () {
    /* this.getCities() */
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.circle__loader {
  position: absolute;
  top:104px;
  left:320px;
  border: 2px solid #b0b0b0;
  border-right: 1px solid white;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  transform: rotate(-45deg);
  animation: 3s linear 0s normal none infinite running circle__loader;
}

@keyframes circle__loader {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(315deg);
    }
}
.form__error__title__none{
  display: none;
}

.form__error__title{
  color:#da0c09;
  font-size: 12px;
  margin-left: 135px;
  display: block;
}

.form__error{
  border:2px solid #da0c09;
}

.active{
  background-color: #5199db;
  color: white;
}

.form__list {
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 0px 0.5px;
  width:270px;
  position: absolute;
  margin:0px;
  left: 136px;
  overflow: auto;
}

.form__list__active {

}

.form__list__element{
  padding: 2px 10px;
  position: relative;
  z-index: 10;
  display:block;
  margin: 0;
  cursor:pointer;
}

.form__list__element:hover{
  background-color: #5199db;
  color:white;
}

.form__title{
    float: left;
    padding: 2px 40px 0px 50px;
    margin: 0;
}

.form__city{
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width:200px;
  height:20px;
}

.form__mistake {
  color: #808080;
}

.mistake__update {
  background-color: #5199db;
  color:white;
  width:270px;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.form__city:focus::placeholder {
  opacity:0.7;
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
